@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
* {
  margin: 0px; }

body {
  min-height: 100vh;
  margin: 0;
  background-color: white;
  font-family: 'Jura', sans-serif; }

a {
  text-decoration: none; }

header {
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); }
  header .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .container .logo-box a {
      outline: none; }
      header .container .logo-box a img {
        width: 50%;
        padding-left: 0.6em; }
  header nav {
    overflow: hidden; }
    header nav .nav-menu {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-right: 0.6em;
      float: right;
      display: flex;
      align-items: center;
      justify-content: center; }
      header nav .nav-menu a {
        text-decoration: none;
        display: block;
        position: relative;
        color: #555454;
        text-transform: uppercase; }
      header nav .nav-menu a:after {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 22px;
        background: #444444;
        transition: width .3s linear; }
      header nav .nav-menu a:hover:after {
        width: 100%; }
      header nav .nav-menu li {
        padding: 0.7em;
        height: 70px;
        line-height: 70px;
        display: flex;
        align-items: center; }
        header nav .nav-menu li .buttons {
          display: flex;
          flex-direction: column; }
          header nav .nav-menu li .buttons #but {
            margin: 0.1em; }
    header nav .hamburger {
      display: none; }
      header nav .hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #0e0e0e; }

.mainPage {
  display: flex;
  flex-direction: column; }
  .mainPage .main_boxes {
    margin: 2%; }
  .mainPage .title {
    display: flex;
    align-items: baseline;
    margin-left: 3%; }
    .mainPage .title .main {
      font-size: 65px;
      color: #e62b1e;
      font-weight: 300;
      line-height: 1;
      margin: 25px;
      margin-right: 12px; }
    .mainPage .title .console-container {
      font-size: 1.6em;
      color: #e62b1e; }
      .mainPage .title .console-container .console-underscore {
        display: inline-block;
        position: relative;
        top: -0.14em; }
      .mainPage .title .console-container.console-container-hidden {
        display: none; }
  .mainPage .blog-slider {
    width: 95%;
    position: relative;
    max-width: 65%;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 3%;
    border-radius: 25px;
    height: auto;
    transition: all .3s; }
    @media screen and (max-width: 992px) {
      .mainPage .blog-slider {
        max-width: 85%;
        height: auto;
        margin: 30% auto; } }
    @media screen and (max-width: 768px) {
      .mainPage .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto; } }
    @media screen and (max-height: 500px) and (min-width: 992px) {
      .mainPage .blog-slider {
        height: 350px; } }
    .mainPage .blog-slider__item {
      display: flex;
      align-items: center; }
      @media screen and (max-width: 768px) {
        .mainPage .blog-slider__item {
          flex-direction: column;
          margin: 4%; } }
      .mainPage .blog-slider__item.swiper-slide-active .blog-slider__img img {
        opacity: 1;
        transition-delay: .3s; }
      .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > * {
        opacity: 1;
        transform: none; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
          transition-delay: 0.3s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
          transition-delay: 0.4s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
          transition-delay: 0.5s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
          transition-delay: 0.6s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
          transition-delay: 0.7s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
          transition-delay: 0.8s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
          transition-delay: 0.9s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
          transition-delay: 1s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
          transition-delay: 1.1s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
          transition-delay: 1.2s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
          transition-delay: 1.3s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
          transition-delay: 1.4s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
          transition-delay: 1.5s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
          transition-delay: 1.6s; }
        .mainPage .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
          transition-delay: 1.7s; }
    .mainPage .blog-slider__img {
      width: 40%;
      flex-shrink: 0;
      height: auto;
      box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
      border-radius: 25px;
      transform: translateX(-100px);
      overflow: hidden; }
      .mainPage .blog-slider__img:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        opacity: 0.8; }
      .mainPage .blog-slider__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        opacity: 0;
        border-radius: 20px;
        transition: all .3s; }
      @media screen and (max-width: 992px) {
        .mainPage .blog-slider__img {
          transform: translateY(-50%);
          width: 85%; } }
      @media screen and (max-width: 576px) {
        .mainPage .blog-slider__img {
          width: 85%; } }
      @media screen and (max-height: 500px) and (min-width: 992px) {
        .mainPage .blog-slider__img {
          height: 270px; } }
    .mainPage .blog-slider__content {
      padding-right: 25px; }
      @media screen and (max-width: 768px) {
        .mainPage .blog-slider__content {
          margin-top: -80px;
          text-align: center;
          padding: 0 30px; } }
      @media screen and (max-width: 576px) {
        .mainPage .blog-slider__content {
          padding: 0; } }
      .mainPage .blog-slider__content > * {
        opacity: 0;
        transform: translateY(25px);
        transition: all .4s; }
    .mainPage .blog-slider__date {
      margin-bottom: 0.5em;
      font-size: 17px;
      display: block;
      color: #0d0925;
      margin-top: 0.5em; }
    .mainPage .blog-slider__title {
      font-size: 20px;
      font-weight: 550;
      color: #000000bf;
      margin-bottom: 0.5em; }
    .mainPage .blog-slider__text {
      font-size: 15px;
      color: #4e4a67;
      margin-bottom: 30px;
      margin-top: 0.5em;
      line-height: 1.5em; }
    .mainPage .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .mainPage .blog-slider .swiper-pagination-custom, .mainPage .blog-slider .swiper-pagination-fraction {
      bottom: 10px;
      left: 0;
      width: 100%; }
    .mainPage .blog-slider__pagination {
      position: absolute;
      z-index: 21;
      right: 20px;
      width: 11px !important;
      text-align: center;
      left: auto !important;
      top: 50%;
      bottom: auto !important;
      transform: translateY(-50%); }
      @media screen and (max-width: 768px) {
        .mainPage .blog-slider__pagination {
          transform: translateX(-50%);
          left: 50% !important;
          top: 205px;
          width: 100% !important;
          display: flex;
          justify-content: center;
          align-items: center; } }
      .mainPage .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 8px 0; }
        @media screen and (max-width: 768px) {
          .mainPage .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 5px; } }
      .mainPage .blog-slider__pagination .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
        display: block;
        border-radius: 10px;
        background: #062744;
        opacity: 0.2;
        transition: all .3s; }
        .mainPage .blog-slider__pagination .swiper-pagination-bullet-active {
          opacity: 1;
          background: #e62b1e;
          height: 30px;
          box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3); }
          @media screen and (max-width: 768px) {
            .mainPage .blog-slider__pagination .swiper-pagination-bullet-active {
              height: 11px;
              width: 30px; } }
section#about {
  margin: auto;
  margin-top: 5rem;
  max-width: 1500px; }
  section#about img {
    width: 100%;
    height: auto;
    max-height: 850px;
    border: 4px solid black;
    border-radius: 25px;
    object-fit: cover; }
  section#about h3 {
    margin-bottom: 1rem; }
  section#about p {
    line-height: 1.75;
    text-align: justify; }
    section#about p:last-child {
      margin-bottom: 0; }
  section#about .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
    section#about .container-fluid .row {
      display: flex; }
      section#about .container-fluid .row #about-ted {
        padding-right: 5%;
        word-wrap: break-word; }
      section#about .container-fluid .row #about-tedx {
        overflow: hidden; }

.about-section {
  margin-bottom: 2rem; }

#about-tedxntua {
  position: relative;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  border: 4px solid black;
  border-radius: 25px; }

#social-container {
  height: auto;
  width: 7em;
  position: fixed;
  top: 50%;
  left: 0;
  padding-top: 5em;
  transform: translate(0, -50%);
  opacity: 0;
  visibility: hidden;
  cursor: url(/static/images/arrow.png), auto; }
  #social-container img {
    width: 4.5em;
    height: 4.5em;
    padding: 0 1em;
    object-fit: contain;
    opacity: 0.3; }
    #social-container img:hover {
      opacity: 1; }
  #social-container.scrolled {
    visibility: visible;
    opacity: 1;
    transition: .8s ease-in-out; }

@media screen and (max-width: 890px) {
  header .nav-menu {
    position: fixed;
    left: -125%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); }
  .nav-menu.active {
    left: 0;
    display: flex;
    align-items: center;
    margin-top: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    z-index: 3; }
    .nav-menu.active li {
      padding: 0px;
      line-height: 70px;
      height: 70px; }
  header nav li:nth-child(3) {
    align-self: flex-end;
    margin-right: 1.1em; }
  header nav .hamburger {
    display: block;
    margin-right: 2em;
    cursor: pointer; }
  header nav .hamburger.active .bar:nth-child(2) {
    opacity: 0; }
  header nav .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg); }
  header nav .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg); }
  .mainPage .title {
    flex-direction: column;
    align-items: center; }
    .mainPage .title .main {
      margin-top: 5%; } }

@media screen and (max-width: 500px) {
  header nav .hamburger {
    margin-right: 4em; }
  .nav-menu.active {
    margin-top: 1.3em; } }

/*# sourceMappingURL=style.css.map */