{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>TEDxNTUA</title>
    <link rel ="stylesheet" type="text/css" href="{% sass_src 'main/css/style.scss' %}">
</head>
<body>
  <header>
    <div class = "container">
      <div class = "logo-box">
        <a href = "#" aria-label="Go to homepage">
          <img src = "{% static 'main/img/tedxntua_logo_blacktext.png' %}" alt="TEDx NTUA Logo">
        </a>
      </div>
      <nav aria-label="Navigation header">
        <ul class = "nav-menu">
          <li><a href = "" class = "nav-link">Blog</a></li>
          <li><a href = "" class = "nav-link">About</a></li>
          <li> 
            <div class = "buttons"> 
              <button type = "button"> EN </button>
              <button type = "button"> DARK MODE </button>
            </div>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </div>
  </header>
</body>
<script type="text/javascript" src = "{% static 'main/js/main.js' %}"></script>
</html>

