{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>tedxntua</title>
    <link rel="icon" type="image/x-icon" href="{% static 'main/img/favicon.png' %}">
    <link rel ="stylesheet" type="text/css" href="{% sass_src 'main/css/style.scss' %}">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class = "container">
      <div class = "logo-box">
        <a href = "#" aria-label="Go to homepage">
          <img src = "{% static 'main/img/tedxntua_logo_blacktext.png' %}" alt="TEDx NTUA Logo">
        </a>
      </div>
      <nav aria-label="Navigation header">
        <ul class = "nav-menu">
          <li><a href = "https://blog.tedxntua.com/" class = "nav-link">Blog</a></li>
          <li><a href = "#about" class = "nav-link">About</a></li>
          <li> 
            <div class = "buttons"> 
              <button type = "button" id = "but"> EN </button>
              <button type = "button" id = "but"> DARK MODE </button>
            </div>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </div>
  </header>

  <div class = "mainPage">  
    <div class = "main_boxes"> 
      <div class = "title">   
        <div class = "main"> Dialogues</div>
        <div class='console-container'>
          <div id='text'></div>
          <div class='console-underscore' id='console'>&#95;</div>
        </div>
      </div> 
      <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
          {% for action in actions %} 
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <a href='http://www.youtube.com'>
                <img src = "{% static 'main/img/yoke.jpg' %}" alt="TEDx NTUA Logo">
              </a>
            </div>
            <div class="blog-slider__content">
              <div class="blog-slider__title"> {{action.title}} </div>
              <span class="blog-slider__date"> {{action.date}}</span>
              <div class="blog-slider__text"> {{action.text}}</div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="blog-slider__pagination"></div>
      </div>
    </div>

    <div class = "main_boxes"> 
      <div class = "title">   
        <div class = "main">Past Events</div>
        <div class='console-container'>
          <span id='text'></span>
          <div class='console-underscore' id='console1'>&#95;</div>
        </div>
      </div> 
      <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
          {% for action in actions %} 
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <a href="#">
                <img src = "{% static 'main/img/tedxntua_logo_blacktext.png' %}" alt="TEDx NTUA Logo">
              </a>
            </div>
            <div class="blog-slider__content">
              <div class="blog-slider__title"> {{action.title}} </div>
              <span class="blog-slider__date"> {{action.date}}</span>
              <div class="blog-slider__text"> {{action.text}}</div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="blog-slider__pagination"></div>
      </div>
    </div>
   
    <div class = "main_boxes">
      <div class = "title">   
        <div class = "main">Previous Talks</div>
        <div class='console-container'>
          <span id='text'></span>
          <div class='console-underscore' id='console2'>&#95;</div>
        </div>
      </div> 
      <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
          {% for action in actions %} 
          <div class="blog-slider__item swiper-slide">
            <div class="blog-slider__img">
              <a href="#">
                <img src = "{% static 'main/img/tedxntua_logo_blacktext.png' %}" alt="TEDx NTUA Logo">
              </a>
            </div>
            <div class="blog-slider__content">
              <div class="blog-slider__title"> {{action.title}} </div>
              <span class="blog-slider__date"> {{action.date}}</span>
              <div class="blog-slider__text"> {{action.text}}</div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="blog-slider__pagination"></div>
      </div>
    </div>
  </div>

  <div id="social-container">
      <a href="https://www.instagram.com/tedxntua/?hl=en" target="_blank">
          <img src="{% static 'main/img/social-instagram.png' %}">
      </a>
      <a href="https://www.facebook.com/tedxntua/" target="_blank">
          <img src="{% static 'main/img/social-facebook.png' %}">
      </a>
      <a href="https://www.linkedin.com/company/tedxntua/" target="_blank">
          <img src="{% static 'main/img/social-linkedin.png' %}">
      </a>
      <a href="https://www.youtube.com/channel/UCVtjgrrBdSPZERmdso2o0dw/featured" target="_blank">
          <img src="{% static 'main/img/social-youtube.png' %}">
      </a>
  </div>

  <section id="about">
    <div class="about-section" id="about-tedxntua">
        <p>{{about.0.title}}</p>
        <p>{{about.0.text}}</p>
        <p>{{about.0.subtext}}</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-5 about-section" id="about-ted">
              <p>{{about.1.title}}</p>
              <p>{{about.1.text}}</p>
              </div>
            <div class="col-12 col-md-5 about-section" id="about-tedx">
              <p>{{about.2.title}}</p>
              <p>{{about.2.text}}</p>
            </div>
        </div>
    </div>
  </section>
 
</body>
<script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>
</html>

  